body {
    text-align: center;
    font-family: Neotric;
    font-size: 26px;
    background-color: #f1f3f9;
    color: #0c0664;
}

@font-face {
    font-family: Neotric;
    src: url(NeotericBold-xq1q.ttf);
}

h1{
    color: black;
    font-size: small;
    position: center;
}

.hero {
    width: 100vw;
    height: 50vh;
    background-color: f1f3f9;
    padding-top: 80px;
    color: #0c0664;
    font-family: Helvetica;
}

.hero p{
    font-family: Helvetica;
    font-size: 18px;
}

.videhome
{
    display: flexbox;
    padding: 50px;
    position: absolute;
    margin: 200px;
    
}