body {
    background-color: #203f9d;
    color: rgb(255, 0, 0);
}

h1{
    color: black;
    font-size: small;
    position: center;
}

.contenedor{
    /* Code*/
}

#contenedor_principal{
    /* code */
}